# Binaries
blog.fcgi
test

# Qt Creator
Blog.config
Blog.creator
Blog.creator.user
Blog.files
Blog.includes

FastCGIBlog-test.config
FastCGIBlog-test.creator
FastCGIBlog-test.creator.user
FastCGIBlog-test.files
FastCGIBlog-test.includes